name: reviewdog
on: [pull_request]
jobs:
  eclint:
    name: runner / eclint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: eclint-github-pr-check
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          eclint_flags: 'testdata/'
      - name: eclint-github-check
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          level: warning
          eclint_flags: 'testdata/'
      - name: eclint-github-pr-review
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          eclint_flags: 'testdata/'
